<div class="about">
  <div class="left">
    <div class="card">
      <div class="card_left">
        <h1>WEBSITE UI DESIGN</h1>
        <p>
          I use advanced coding techniques to develop seamless and responsive
          front-end designs that enhance user experience."
        </p>
        <h6>35 PROJECTS</h6>
      </div>
      <div class="card_right">
        <img src="assets/images/icons/code-block.svg" alt="" />
      </div>
    </div>
    <div class="card">
      <div class="card_left">
        <h1>APP UI DESIGN</h1>
        <p>Optimize your business with SEO and boost your online presence.</p>
        <h6>3 PROJECTS</h6>
      </div>
      <div class="card_right">
        <img src="assets/images/icons/ui.svg" alt="" />
      </div>
    </div>
    <div class="card">
      <div class="card_left">
        <h1>PORTAL DESIGN</h1>
        <p>Optimize your business with SEO and boost your online presence.</p>
        <h6>3 PROJECTS</h6>
      </div>
      <div class="card_right">
        <img src="assets/images/icons/portal.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="right">
    <h6>Introduction</h6>
    <h1>Hello!  I'm Nana Yaw Osei-Ameyaw</h1>
    <h3>“ UI/UX designers breathe life into visions with captivating interfaces “</h3>
    <p>I'm Nana Yaw Osei-Ameyaw, a UI/UX Designer with a passion for creating innovative, user-centered experiences. I take a holistic approach, overseeing the entire product creation process, from UX and UI design to problem-solving. I collaborate with cross-functional teams, conduct user research, usability tests, and heuristic evaluations, and translate insights into long-term product strategies. My focus is on product thinking, aligning user experience with business needs. I've worked with notable companies, contributing to their success by pushing design boundaries. My goal is to simplify users' lives through beautifully designed software.</p>
  </div>
</div>
