.works {
  padding: 0 14%;
  display: flex;
  width: 100%;
  gap: 3rem;
  margin-bottom: 4rem;

  // Media Query for Mobile
  @media (max-width: 768px) {
    padding: 0 1rem;
    flex-direction: column;
    gap: 0rem;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // gap: 4rem;

    // Media Query for Mobile
    @media (max-width: 768px) {
      width: 100%;
      align-items: flex-start;
    }

    .title{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 4rem;
        
        // Media Query for Mobile
        @media (max-width: 768px) {
            margin-bottom: 2rem;
        }

        

        h1{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            color: #85868d;
        }
        
    }

    .image {
      width: 100%;
      position: relative;
      margin-bottom: 4rem;

      // Media Query for Mobile
      @media (max-width: 768px) {
        margin-bottom: 2rem;
      }

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .all{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: flex-start;

        // Media Query for Mobile
        @media (max-width: 768px) {
            display: none;
        }

        h1{
            font-size: 1.5rem;
            font-weight: 600;
            color: #7814E2;
             margin-left: 4rem;
        }

        p{
            font-size: .8rem;
            font-weight: 400;
            color: #85868d;
            margin-left: 4rem;

            span{
                color: red;
            }
        }
    }

  }
  .right {
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    // Media Query for Mobile
    @media (max-width: 768px) {
      width: 100%;
    }

    .image {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .all{
        display: none;

        // Media Query for Mobile
        @media (max-width: 768px) {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: flex-start;
        }

        h1{
            font-size: 1.5rem;
            font-weight: 600;
            color: #7814E2;
             margin-left: 2rem;
        }

        p{
            font-size: .8rem;
            font-weight: 400;
            color: #85868d;
            margin-left: 2rem;

            span{
                color: red;
            }
        }
    }
  }
}
