<div class="works">
  <div class="left">
    <div class="title">
        <h1>Latest Works</h1>
        <p>Perfect solutions for digital experience</p>
    </div>
    <div class="image">
        <img src="assets/images/projects/p2.svg" alt="" />
    </div>
    <div class="all">
        <h1>ALL PROJECTS</h1>
        <p>*Some projects  not allow publish by NDA if you want to see more, <span>contact</span></p>
    </div>
  </div>
  <div class="right">
    <div class="image">
      <img src="assets/images/projects/p1.svg" alt="" />
    </div>
    <div class="image">
      <img src="assets/images/projects/p3.svg" alt="" />
    </div>

    <div class="all">
        <h1>ALL PROJECTS</h1>
        <p>*Some projects  not allow publish by NDA if you want to see more, <span>contact</span></p>
    </div>
  </div>
</div>
