<div class="landing">
  <div class="left">
    <div class="title">
      <p>UI/UX DESIGNER</p>
    </div>
    <div class="text">
      <h1>Innovative Design Solutions That Enhance User Interactions.</h1>
      <p>
        As a UI/UX designer, I'm dedicated to crafting exceptional user
        experiences that resonate across various platforms. My focus lies in
        creating captivating designs and intuitive interfaces, ensuring users
        have an unforgettable journey. Let's collaborate to transform your
        vision into reality!
      </p>
    </div>
    <div class="chat">
      <a href="" class="btn btn-primary">LET'S CHAT</a>
    </div>
    <div class="cv">
      <p>Download CV</p>
      <img src="assets/images/icons/download.svg" alt="" />
    </div>
  </div>
  <div class="right">
    <div class="image">
      <img src="assets/images/general/user-border.svg" alt="Landing Image" />
    </div>
  </div>
</div>
<div class="xpr">
  <div class="xp">
    <h1>5</h1>
    <div class="info">
      <p>Years</p>
      <p>Experience</p>
    </div>
  </div>
  <div class="xp">
    <h1>35</h1>
    <div class="info">
      <p>PROJECTS COMPLETED</p>
      <p>ON 7 COUNTRIES</p>
    </div>
  </div>
</div>
<!-- <div class="bg">
  <div class="custom-marquee">
    <div class="item">
      <img src="assets/images/icons/figma.svg" alt="" />
      <p>Figma</p>
    </div>
    <div class="item">
      <img src="assets/images/icons/xd.svg" alt="" />
      <p>Adobe XD</p>
    </div>
    <div class="item">
      <img src="assets/images/icons/ps.svg" alt="" />
      <p>Photoshop</p>
    </div>
    <div class="item">
      <img src="assets/images/icons/ae.svg" alt="" />
      <p>After Effects</p>
    </div>
    <div class="item">
      <img src="assets/images/icons/webflow.svg" alt="" />
      <p>Webflow</p>
    </div>
    <div class="item">
      <img src="assets/images/icons/wp-blue.svg" alt="" />
      <p>WordPress</p>
    </div>
    <div class="item">
      <img src="assets/images/icons/framer.svg" alt="" />
      <p>Framer</p>
    </div>
  </div>
</div> -->
