.experience {
  width: 100%;
  padding: 0 14%;
  display: flex;
  margin: 4rem 0;


  // Media Query for Mobile
  @media (max-width: 768px) {
    padding: 0 1rem;
    flex-direction: column;
    gap: 2rem;
  }

  .left {
    width: 50%;
    margin-left: 4rem;

    // Media Query for Mobile
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: #7814e2;
    }

    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  }
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    // Media Query for Mobile
    @media (max-width: 768px) {
      width: 100%;
      align-items: flex-start;
    }

    .expe {
      border-bottom: 1px solid #222;
      padding-bottom: 2rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;

        // Media Query for Mobile
        @media (max-width: 768px) {
          font-size: 1.3rem;
        }
      }
      h6 {
        font-size: 0.8rem;

        span {
          font-size: 0.6rem;
          color: #797979;
          margin-left: 1rem;
        }
      }
    }
  }
}
