<div class="experience">
  <div class="left">
    <p>History</p>
    <h1>Experience</h1>
  </div>
  <div class="right">
    <div class="expe">
      <h1>MID-SENIOR UI/UX DESIGNER</h1>
      <h6>appsNmobile Solution <span>October. 2022 - Date</span></h6>
      <p>
        As a Mid-Senior UX/UI Designer, I was responsible for creating
        high-quality product designs that aligned with the company's business
        strategy and met the needs of users. I participated in the development
        of user interfaces and visual design. My work included researching user
        behavior and analyzing competitors to create unique and intuitive
        interfaces. I also ensured compliance with design standards and
        participated in training designers to improve the quality of the design
        team's work.
      </p>
    </div>
    <div class="expe">
      <h1>MID-SENIOR UI/UX DESIGNER</h1>
      <h6>appsNmobile Solution <span>October. 2022 - Date</span></h6>
      <p>
        As a Mid-Senior UX/UI Designer, I was responsible for creating
        high-quality product designs that aligned with the company's business
        strategy and met the needs of users. I participated in the development
        of user interfaces and visual design. My work included researching user
        behavior and analyzing competitors to create unique and intuitive
        interfaces. I also ensured compliance with design standards and
        participated in training designers to improve the quality of the design
        team's work.
      </p>
    </div>
  </div>
</div>
